/*Geral: */
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
}
/*Atributos: */
.AlingContent{
    margin: 0 auto;
    max-width: 120rem;
    padding: 3rem;
}
body .full_width_flex{
    width: auto;
    flex: 1 1 auto;
}
.CompletePage{
    min-height: 100vh;
}
.PaddingMenu{
    padding-top: 8rem;
}
.MainBackGrond{
    color: white;
    background-image: url("../Img/BG.svg");
    background-size:contain;
    background-position: center center;
}
